
@{
    ViewData["Title"] = "AmigoAgregado";
}

<div class="alert alert-success my-3" role="alert">
    <h4 class="alert-heading">Amigo Agregado!</h4>
    
    <a asp-action="Index" asp-controller="THome">Ir a Home</a>
    <hr>
    <p class="mb-0">Agrega amigos sin miedo!</p>
</div>
