
@{
    ViewData["Title"] = "ErrorAmigo";
}

<div class="alert alert-danger my-3" role="alert">
    <h4 class="alert-heading">Error al agregar un amigo!</h4>
    <p>Seguramente ya tienes ese amigo agregado</p>
    <a asp-action="Index" asp-controller="Users">Volver a Usuarios</a>
    <hr>
    <p class="mb-0">Espero que no hayas llegado aqui tratando de agregarte tu mismo :v</p>
</div>

